.modal-procedure {
  background-color: #141F28;
  border-radius: unset;
  border: #444 1px solid;
  width: 60%;
  color: #7F8A95;
  font-family: Arial, sans-serif;
  padding: 10px 20px;

  .color-text {
    color: #0C8F97;
  }

  select {
    padding: 10px;
    border: 1px solid #00a7b6;
    font-size: 16px;
    color: #0B6E70;
    background: #0A0F14;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select option {
    border: 1px solid #00a7b6 !important;
    background-color: #fff;
    color: #000;
  }

  select option:hover {
    background-color: #333;
    color: #fff;
  }

  .select-container {
    position: relative;
    width: 100%;
  }

  .select-container select {
    width: 100%;
    padding-right: 30px;
    appearance: none;
  }

  .select-container .arrow-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    border: 1px solid #26333D;
  }

  #bodypart {
    span.area {
      z-index: 10;
      position: absolute;
      display: block;
      width: 27px;
      height: 27px;
      cursor: pointer;
      //background: rgba(255, 0, 0, 0.3);

      &.skull {
        left: 170px;
        top: 22px;
      }

      &.chest {
        left: 170px;
        top: 124px;
      }

      &.shoulder_l {
        left: 88px;
        top: 214px;
      }

      &.shoulder_r {
        left: 251px;
        top: 214px;
      }

      &.abdomen {
        left: 170px;
        top: 190px;
      }

      &.cspine {
        left: 114px;
        top: 231px;
      }

      &.hip {
        left: 169px;
        top: 239px;
      }

      &.knee_l {
        left: 125px;
        top: 341px;
      }

      &.knee_r {
        left: 216px;
        top: 341px;
      }
    }
  }



}


.submit-procedure {
  background-color: #00a7b6;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  width: 160px;
  box-sizing: border-box;
  clip-path: polygon(0 0, 87% 0, 100% 27%, 100% 100%, 13% 100%, 0 74%);
}

.color-95a3af {
  color: #95A3AF;
}

.data-descrip {
  width: 100%;
  max-height: 150px;
  background: #0D141A;
  border: none;
  border-radius: 2px;
  padding: 10px 15px;
  overflow-y: auto;

  // Custom scrollbar
  ::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
  }

  ::-webkit-scrollbar-track {
    background: #263a47; // Track color
  }

  ::-webkit-scrollbar-thumb {
    background-color: #009688; // Scrollbar color
    border-radius: 10px; // Round the corners
    border: 2px solid #263a47; // Padding around the scrollbar thumb
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #00E7FF; // Scrollbar color on hover
  }

  // Additional scrollbar styles for Firefox
  scrollbar-width: thin; // For Firefox
  scrollbar-color: #009688 #263a47; // For Firefox
}

.color-767b7f {
  color: #767b7f;
}