.modal-use-backup {
  background-color: #101920;
  border-radius: 8px;
  padding: 20px;
  width: 700px;
  color: #7F8A95;
  font-family: Arial, sans-serif;

  select {
    padding: 10px;
    border: 1px solid #00a7b6;
    font-size: 16px;
    color: #fff;
    width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select option {
    border: 1px solid #00a7b6 !important;
    background-color: #fff;
    color: #000;
  }

  select option:hover {
    background-color: #333;
    color: #fff;
  }
}

.ml-54 {
  margin-left: 54px;
}

.color-fff {
  color: #ffffff;
}

.gap-20 {
  gap: 20px;
}

.usb-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 30%;
  border-radius: 2px;
}

.button-01 {
  background-color: #5f9ea0;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 2px;
}

.stand-by {
  background-color: #0d363d;
  padding: 10px 0;
}

