.study-list-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);

  .left_tools {
    position: absolute;
    top: 110px;
    left: 20px;
    width: 310px;
    height: 948px;
    background-image: url("../src/assets/img/studylist_search_bg.png");
    background-repeat: no-repeat;
  }
}