.table-container {
  width: 100%;
  border-radius: 4px;

  .base-table {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 14px;

    th, td {
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: #263a47;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #263a47;
    }

    tr:nth-child(odd) {
      background-color: #1e2a36;
    }

    tr:hover {
      background-color: #00E7FF; // Highlight row
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 1px;
    padding: 10px 0;
    background-color: #263a47;

    button {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      color: #ccc;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 4px;

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      &.active {
        background-color: #009688;
        color: white;
      }

      &:disabled {
        color: #666;
        cursor: not-allowed;
      }
    }
  }

  .empty-row {
    td {
      background-color: #1a2831; // Match background color
      height: 40px; // Adjust this based on row height
    }
  }

  // Added styles for scrolling
  .scrollable-table {
    overflow-y: auto;
    display: block;

    // Custom scrollbar
    ::-webkit-scrollbar {
      width: 8px; // Width of the scrollbar
    }

    ::-webkit-scrollbar-track {
      background: #263a47; // Track color
    }

    ::-webkit-scrollbar-thumb {
      background-color: #009688; // Scrollbar color
      border-radius: 10px; // Round the corners
      border: 2px solid #263a47; // Padding around the scrollbar thumb
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #00E7FF; // Scrollbar color on hover
    }

    // Additional scrollbar styles for Firefox
    scrollbar-width: thin; // For Firefox
    scrollbar-color: #009688 #263a47; // For Firefox
  }
}
