.work-list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex-basis: 300px;
  margin: 0 20px;
}

.patient-table {
  flex-grow: 1;
  margin-left: 20px;
}

.work-list-table-container {
  width: 80%;
}